[submodule "themes/console"]
	path = themes/console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
